<theme>
  <variables>
    <!--
    Whether to display
    custom collection lineart or not.
    -->
    <showCustomCollectionLineart>true</showCustomCollectionLineart>

    <!--
    Values only availble in Grid layout:
    bg-image         - Grid layout, uses md_image
    bg-video         - Play the video instead of showing an image
    framed-image     - remove gradient and adds border
    framed-video     - remove gradient and adds border
    artbook          - Grid layout with a sidebar of metadata of the currently selected game
    -->
    <gridLayoutType>artbook</gridLayoutType>

    <!--
    Available values:
    true     - Gamelist view style detailed and video will have full metadata.
    false    - Gamelist view style detailed and video will have no metadata, and
               will only have image and marquee.
    -->
		<viewMetadata>true</viewMetadata>

    <!--
    For debugging.
    Useful positioning guidelines if extending the theme.
    -->
    <systemTurnOnGuides>false</systemTurnOnGuides>
  </variables>
</theme>
