<theme>
  <variables>
    <!--
    Available values:
    screenshot  - use the game screenshot for the md_image.
    boxart      - use box art for the md_image.
    composite   - use skyscraper (or similar) compisited image of
                  box art, screenshots, and marquee for the md_image.
    -->
		<mdImageType>screenshot</mdImageType>


    <!--
    Values only availble in Grid layout:
    plex-image     - Grid layout similar to Plex or Netflix (circa 2020s - 2024)
    plex-video     - Play the video instead of showing an image
    artbook        - Grid layout with a sidebar of metadata of currently selected game.
    simple         - Grid layout, straight up, no metadata no video, marquee
    -->
    <gridLayoutType>simple</gridLayoutType>

    <!--
    Available values:
    true     - Gamelist view style detailed and video will have full metadata.
    false    - Gamelist view style detailed and video will have no metadata, and
               will only have image and marquee.
    -->
		<viewMetadata>true</viewMetadata>

    <!--
    For debugging.
    Useful positioning guidelines if extending the theme.
    -->
    <systemTurnOnGuides>false</systemTurnOnGuides>
  </variables>
</theme>
